Incredi/Library/
Incredi/Temp/
Tools/
typings/
*.backup
.vs/NodejsApp1/v14/.suo
*.suo
*.suo
Incredi/Assets/Sprite/prop-crate-plain.png.meta
cache/
node_modules/
typings/
practiceRestfulAPI.js
*.js
typings/globals/node/index.d.ts
NodejsApp1.njsproj